version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5 # Fallback cooldown if no specific rule applies
    labels:
      - "maintenance"
      - "dependencies"
    commit-message:
      prefix: "build"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7 # semver-* options are not applicable for GitHub Actions
      exclude:
        - "ansys/actions/*"
    labels:
      - "maintenance"
    commit-message:
      prefix: "ci"
    groups:
       actions:
          patterns:
            - "*"
