[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "ansys-sound-core"
version = "0.1.1"
description = "A Python wrapper for Ansys DPF Sound."
readme = "README.rst"
requires-python = ">=3.9,<4"
license = { file = "LICENSE" }
authors = [{ name = "ANSYS, Inc.", email = "pyansys.core@ansys.com" }]
maintainers = [{ name = "ANSYS, Inc.", email = "pyansys.core@ansys.com" }]
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "ansys-dpf-core>=0.9.0,<1",
    "matplotlib>=3.8.2,<4",
    "platformdirs>=4.2.2,<5",
]

[project.optional-dependencies]
tests = [
    "ansys-dpf-core==0.12.2",
    "matplotlib==3.8.4",
    "pytest==8.2.2",
    "pytest-cov==5.0.0",
    "pytest-dependency==0.6.0",
    "platformdirs==4.2.2",
    "regex==2024.5.15",
]

doc = [
    "Sphinx==7.3.7",
    "ansys-sphinx-theme==0.16.6",
    "numpydoc==1.7.0",
    "sphinx-autodoc-typehints==2.2.2",
    "sphinx-copybutton==0.5.2",
    "sphinx-gallery==0.16.0",
    "sphinx-design==0.6.0",
    "vtk==9.3.1",
    "trame==3.6.3",
    "trame_vtk==2.8.9",
    "pyvista==0.44.0",
    "pypandoc==1.13",
    "jupyter-sphinx==0.5.3",
    "sphinx-autobuild==2024.4.16",
    "platformdirs==4.2.2"
]

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
source = ["ansys.sound.core"]

[tool.coverage.report]
show_missing = true

[tool.pytest.ini_options]
minversion = "7.1"
addopts = "-ra --cov=ansys.sound.core --cov-report html:.cov/html --cov-report xml:.cov/xml --cov-report term -vv"
testpaths = ["tests"]

[tool.towncrier]
directory = "doc/changelog.d"
filename = "CHANGELOG.md"
start_string = "<!-- towncrier release notes start -->\n"
underlines = ["", "", ""]
template = "doc/changelog.d/changelog_template.jinja"
title_format = "## [{version}](https://github.com/ansys/pyansys-sound/releases/tag/v{version}) - {project_date}"
issue_format = "[#{issue}](https://github.com/ansys/pyansys-sound/pull/{issue})"
package = "ansys.sound.core"

[[tool.towncrier.type]]
directory = "added"
name = "Added"
showcontent = true

[[tool.towncrier.type]]
directory = "changed"
name = "Changed"
showcontent = true

[[tool.towncrier.type]]
directory = "fixed"
name = "Fixed"
showcontent = true

[[tool.towncrier.type]]
directory = "dependencies"
name = "Dependencies"
showcontent = true

[[tool.towncrier.type]]
directory = "miscellaneous"
name = "Miscellaneous"
showcontent = true
