name: Docker image cleanup
on:
  schedule: # UTC at 0200 every Sunday
    - cron: "0 2 * * 0"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  cleanup:
    name: Cleaning unnecessary docker images
    runs-on: ubuntu-latest
    env:
      PACKAGE_DELETION_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      packages: write  # Required to delete images

    steps:
    - name: "Perform docker image cleanup - except certain tags"
      uses: ansys/actions/hk-package-clean-except@41f86da4c9ead510db9135e428e33df9cc6f92e1 # v10.2.3
      with:
        package-name: 'ansys-sound'
        token: ${{ secrets.GITHUB_TOKEN }}
        tags-kept: '25.2, 26.1, latest'
        allow-last-days: '15'
